body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.load-more-button {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;


}

.load-more-button:hover {
    background: #aba8a8;
    border: 1px solid #ccc;
}


.App {
  flex-direction: column;
  display: flex;
  margin: 20px 0;
  max-width: 800px;
}

.selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}

.person-info:hover {
  padding: 30px;
  border: 2px solid pink;
}

.person-info-selected {
    padding: 30px;
    border: 2px solid pink;
}

.firstNameLastName {
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.jobTitle {
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}

.emailAddress {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
